@using Microsoft.AspNet.Identity
@using OneMoreTimeForTheLads.Models
@model IEnumerable<OneMoreTimeForTheLads.Models.ApplicationUser>

@{
    ViewBag.Title = "ViewAll";
}

<h2>ViewAll</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-auto col-md-auto col-lg-auto" style="margin-top:30px">
                @if (item.Files.Any(f => f.FileType == FileType.Avatar))
                {
                    <div class="rounded" style="border:solid; border-color:#007BFF; padding:10px">
                        <img class="mx-auto d-block" style="height:200px; width:200px; object-fit:cover;" src="~/File?id=@item.Files.First(f => f.FileType == FileType.Avatar).FileId" href="" alt="avatar" /><br />
                        
                        @Html.ActionLink(item.FirstName + " " + item.LastName, "Info", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-block" })                  
                    
                    </div>
                }
                else
                {
                    <div class="rounded" style="border:solid; border-color:#007BFF; padding:10px">
                        <img class="mx-auto d-block" style="height:200px; width:200px; object-fit:cover;" src="~/Content/img/default-avatar.png" href="" alt="avatar" /><br />

                        @Html.ActionLink(item.FirstName + " " + item.LastName, "Info", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-block" })

                    </div>
                }
            </div>
        }
    </div>
</div>

