@{
    ViewBag.Title = "About";
}


<div style="text-align:center; padding-top:40px; padding-bottom:40px" class="jumbotron jumbotron-fluid rounded">
    <h1 style="font-weight:400; line-height:60px; margin:5px 30px 5px 30px">Neueda is an award-winning, trusted partner to international market leaders in the Public Sector, Private Sector and Capital Markets.</h1>

</div>

<div class="container">


    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4 style="font-weight:200; line-height:40px">
                At Neueda, we provide digital solutions to enable our customers to transform and
                improve the way they do business. Founded in 2006, Neueda delivers large-scale,
                mission critical software projects on a global scale. Services delivered include
                enterprise integration, legacy system modernisation, data services, right through
                to complex transformational projects.
            </h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="~/Content/img/CapMarkets-Sect-Large.jpg" />
        </div>

    </div>


    <div class="row">
        <div class="col">
            <br />
            <br />
            <br />
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="~/Content/img/Pub-Sect-Large.jpg" />
        </div>
        <div class="col-sm-12 col-md-6">
            <h4 style="font-weight:200; line-height:40px">
                Neueda works tirelessly to build trust, respect and partnership with its customers,
                employees and the communities in which it operates. Ranked in the Great Place to
                Work Awards 2017, Neueda takes pride in being easy to work with, being responsive
                and investing in both employee and customer success.
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
            <br />
            <br />
        </div>
    </div>


    <div class="row">
        <div style="text-align:center; padding-top:40px; padding-bottom:40px" class="jumbotron jumbotron-fluid rounded">
            <h1 style="font-weight:400; line-height:60px; margin:5px 30px 5px 30px">Our culture involves honest and open communication – no one person has the right answer.  As an organisation, we want all voices and opinions to be heard, everyone’s view has value and a place. </h1>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />

        </div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-10">
            <h3 style="font-weight:200; line-height:40px; text-align:center; ">
                Our values provide the platform for our unique culture of shared values and beliefs to flourish.  It is
                the foundation that enables us to inspire, motivate and engage our people.  The wellbeing and engagement
                of our people is key and we want everyone at Neueda to feel and be part of something special.
            </h3>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <br />

        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            <img class="img-fluid rounded" src="~/Content/img/team-illustration.png" />
        </div>
        <div class="col"></div>

    </div>

</div>
